#contact-info {
  font-size: .8em;
}

section.job {
  background-color: #e9e5dc;
  padding: 10px;
  margin: 5px 0;
}

ul.small-text {
  font-size: .8em;
}

h3:hover {
  color: hotpink;
}

ul > li {
  list-style: circle;
}