main{
  margin: 100px;
}

#octopus {
  position: relative;
  top: 150px;
  z-index: 1;
}

#hat {
  position: absolute;
  top: 175px;
  left: 100px;
  z-index: 2;

}

#glasses {
  position: absolute;
  top: 348px;
  left: 150px;
  z-index: 3;
}